<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.demoshopqa.utility.ListenerTest"></listener>
</listeners>
  <test name="Test">
    <classes>
      <class name="com.demoshopqa.tests.OnboardingTest"/>
      <class name="com.demoshopqa.tests.CheckoutPageTest"/>
      <class name="com.demoshopqa.tests.LoginPageTest"/>
      <class name="com.demoshopqa.tests.CartPageTest"/>
      <class name="com.demoshopqa.tests.HomePageTest"/>
      <class name="com.demoshopqa.tests.AddToCartTest"/>
      <class name="com.demoshopqa.tests.IndexPageTest"/>
      <class name="com.demoshopqa.tests.SearchResultTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
